* {
    font-family: 'Montserrat', sans-serif;
}

.first {
    height: 100vh;
    background-image: url(layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

.about-me {
    text-align: center;
}

.name,
.description {
    color: #378CE7;
    margin: 0;
    pointer-events: none;
    animation: fade-up 1s;
}

.name {
    font-size: 4rem;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.description {
    font-size: 1.8rem;
}

.nav-link {
    color: #378CE7 !important;
    font-size: 1.5rem !important;
    animation: fade-down 0.5s;
}

.nav-link:hover {
    color: black !important;
}

.btn-primary {
    color: white !important;
    background-color: #378CE7 !important;
    border: none !important;
    animation: fade-up 1s ease;
}

/* 
Mobile development depois de tratar da versao no computador 
*/