* {
    font-family: 'Montserrat', sans-serif;
}

.first {
    height: 100vh;
    background-image: url(layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

.about-me {
    text-align: center;
}

.name,
.description {
    color: #378CE7 !important;
    margin: 0;
    pointer-events: none;
    animation: fade-up 1s;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

mark {
    -webkit-animation: 1s highlight 1s 1 normal forwards;
            animation: 1s highlight 1s 1 normal forwards;
    background-color: #001220 !important;
    color: #378CE7 !important;
    opacity: 80%;
    background: linear-gradient(90deg, #7efff5 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  } 
  
  @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  
  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
.name {
    font-size: 4rem;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}



.description {
    font-size: 1.8rem;
}

.nav-link {
    color: #378CE7 !important;
    font-size: 1.5rem !important;
    animation: fade-down 0.5s;
}

.nav-link:hover {
    color: black !important;
}

.btn-primary {
    color: white !important;
    background-color: #378CE7 !important;
    border: none !important;
    animation: fade-up 1s ease;
}

/* 
Mobile development depois de tratar da versao no computador 
*/