* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
}

/*go figure why this works LMAO
it solves the whiteline at the top problem*/

header {
    padding-top: 48px;
}

.first {
    height: 100vh;
    background-color: #001220;
    z-index: -1;
}

.second {
    height: 100vh;
    background-color: #001228;
    z-index: -1;
}

.navbar {
    background-color: #001220;
    /* Set your desired background color */
}

.container {
    display: flex;
    flex-direction: column;
}

.about-me,
.projects {
    margin-top: 9%;
    min-height: 225px;
    text-align: center;
    border-radius: 25px;
}

.name,
.description {
    color: #378CE7 !important;
    margin: 0;
    pointer-events: none;
    animation: fade-up 1s;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.highlight {
    height: 100%;
    animation-name: highlight;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    background-size: 200% 200%;
    background: linear-gradient(to right, #001220 50%, #e6f0fa 5%);
    background-size: 200% 100%;
}

@keyframes highlight {
    from {
        background-position: 0;
    }

    to {
        background-position: -100%;
    }
}


.name {
    font-size: 4rem;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}



.description {
    font-size: 1.8rem;
}

.nav-link {
    color: #378CE7 !important;
    font-size: 1.5rem !important;
    animation: fade-down 0.5s;
}

.nav-link.active {
    color: #e6f0fa !important;
}

.nav-link:hover {
    color: #39FF14 !important;
}

.btn-primary {
    color: white !important;
    background-color: #378CE7 !important;
    border: none !important;
    animation: fade-up 1s ease;
}

.title {
    color: #378CE7 !important;
    margin: 0;
    pointer-events: none;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 680px) {
    .name {
        font-size: 2rem;
    }

    .description {
        font-size: 1.2rem;
    }
}

.projects-divider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* 
Mobile development depois de tratar da versao no computador 
*/